{% extends 'base.html' %}
{% block conteudo %}
{% for post in posts %}

<section class="my-9 p-10 info-section bg-white rounded-lg">
    <h2 class="text-2xl font-bold section-title">{{post.titulo}}</h2>
    <p>{{post.resumo}}</p>
    <small><strong>Autor: {{post.autor}}</strong></small>
    <br><br>
    <a href="{{post.slug}}" class="hover:text-blue-800 hover:font-bold hover:bg-yellow-200">Leia mais....</a>
    <div class="text-right mt+10 mr+2">
        <small class="font-bold"> Publicado em {{post.publicacao_em}}</small>
    </div>
    {% if request.user.is_staff %}
    <br>
    <div class="space-x-5">
        <a href="{% url 'edit_post' post.id %} " class="btn btn-primary">Editar</a>
    <a href="{% url 'delete_post' post.id %}" class="btn bg-red-600 text-white hover:bg-red-700">Deletar</a>
    </div>
    
    {% endif %}
</section>

{% endfor %}
{% endblock %}
