{% extends 'base.html' %}
{% block conteudo %}
{% for post in posts %}

<section class="my-5 p-10 info-section bg-white rounded-lg">
    <h2 class="text-2xl font-bold section-title">{{post.titulo}}</h2>
    <p>{{post.resumo}}</p>
    <small><strong>Autor: {{post.autor}}</strong></small>
    <br><br>
    <a href="{{post.slug}}">Leia mais....</a>
    <div class="text-right mt+10 mr+2">
        <small class="font-bold"> Publicado em {{post.publicacao_em}}</small>
    </div>
    {% if request.user.is_staff %}
    <br>
    <a href="{% url 'edit_post' post.id %}">Editar</a>
    <a href="{% url 'delete_post' post.id %}">Deletar</a>
    {% endif %}
</section>

{% endfor %}
{% endblock %}
