{% extends 'base.html' %}
{% load static %}
{% block conteudo %}

<div class="p-10 info-section bg-white rounded-lg">
   
    <div class="text-center">
        <h2><strong>{{post.titulo}}</strong></h2>
    </div>
    <br>
    <p style="text-align: justify;">{{post.conteudo}}</p>
    <br>
    <small>Autor: <strong>{{post.autor}}</strong></small>
    <br>
    <br>
    <div class="text-right mb-0.5">
        <small><strong> Publicado em {{post.publicacao_em}}</strong></small>
    </div>
</div>
{% for comentario in post.comentarios.all %}
<div class="p-5 info-section bg-white rounded-lg">
    <p><strong>Comentario:</strong> {{comentario.conteudo}}</p>
    <small><strong>Autor:</strong> {{comentario.nome}}</small>
    <br>
    <br>
    <div class="text-right ">
        <small ><strong>{{comentario.publicado_em}}</strong></small>
    </div>
   
</div>
<br>
{% endfor %}
{% if user.is_authenticated %}
<form method="post" class="bg-gray-200 p-6 rounded-md">
    {% csrf_token %}
    <div class="mb-4">
        <label for="conteudo" class="block text-gray-700 font-bold">Comentar:</label>
        <textarea id="conteudo" name="conteudo" class="text-black mt-1 block w-full rounded-md border-gray-300 shadow-sm bg-gray-250   "></textarea>
    </div>
    <input type="submit" value="Enviar" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
</form>
<br>
{% else %}
<p class="text-red-500 font-bold pb-6"> Você precisa estar logado para comentar.</p>
{% endif %}
{% endblock %}